<main class="main" id="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-container">
          <!-- Check if there are no offers -->
          <ng-container *ngIf="offres.length === 0">
            <div class="card">
              <div class="card-body">
                <h3 class="title text-center">No offers added.</h3>
              </div>
            </div>
          </ng-container>

          <!-- Display offers if available -->
          <div class="card" *ngFor="let offre of offres">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <h5 class="card-title">Offre Information</h5>
              </div>

              <div class="mb-3"><strong>Title:</strong> {{ offre.title }}</div>
              <div class="mb-3"><strong>Label:</strong> {{ offre.label }}</div>
              <div class="mb-3">
                <strong>Characteristics:</strong> {{ offre.characteristics }}
              </div>

              <!-- Sub-card for Date -->
              <div class="sub-card">
                <strong>Date:</strong> {{ offre.date | date }}
              </div>

              <!-- Sub-card for Status -->
              <div class="sub-card">
                <strong>Status:</strong> {{ offre.status }}
              </div>

              <div class="mb-3">
                <strong>Description:</strong> {{ offre.description }}
              </div>
              <div class="mb-3">
                <strong>Type:</strong> {{ offre.offreType }}
              </div>
              <div class="mb-3">
                <strong>Added by:</strong> {{ offre.user }}
              </div>
              <div class="mb-3">
                <strong>Status:</strong> {{ offre.status }}
              </div>

              <!-- Add other properties as needed -->

              <div class="d-flex justify-content-end">
                <div class="block" style="padding: 4px; margin: 2px">
                  <button
                    class="btn btn-primary"
                    style="background-color: #42ab"
                  >
                    Send Accord
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
