<div *ngIf="isLoggedIn">
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <div *ngIf="user?.role === 'iop'">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('/main')">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#components-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-three-dots"></i><span>marketplace</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="components-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a (click)="navigateTo('/recharge-operation')">
                <i class="bi bi-circle"></i><span>recharge operation</span>
              </a>
            </li>
            <li>
              <a (click)="navigateTo('/recharge-mobility')">
                <i class="bi bi-circle"></i><span>recharge mobility</span>
              </a>
            </li>
            <!-- Add more component items as needed -->
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="navigateTo('/contracts')">
            <i class="bi bi-person"></i>
            <span>Company</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="navigateTo('/histories')">
            <i class="bi bi-grid"></i>
            <span>Histories</span>
          </a>
        </li>
      </div>

      <ng-container *ngIf="user?.role === 'emsp'">
        <a class="nav-link collapsed" (click)="navigateTo('/')">Dashboard</a>
        <a class="nav-link collapsed" (click)="navigateTo('/list-users')"
          >List Recharge operation</a
        >
        <a class="nav-link collapsed" (click)="navigateTo('/listAccords')"
          >Accords</a
        >

        <a class="nav-link collapsed" (click)="navigateTo('/add-offre')"
          >add Offre</a
        >
        <li class="nav-item">
          <a class="nav-link collapsed" (click)="navigateTo('/profile')">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="user?.role === 'cpo'">
        <a class="nav-link collapsed" (click)="navigateTo('/')">Dashboard</a>
        <a class="nav-link collapsed" (click)="navigateTo('/list-users')"
          >List Recharge mobility</a
        >
        <a class="nav-link collapsed" (click)="navigateTo('/listAccords')"
          >Accords</a
        >
        <a class="nav-link collapsed" (click)="navigateTo('/add-offre')"
          >add Offre</a
        >
        <li class="nav-item">
          <a class="nav-link collapsed" (click)="navigateTo('/profile')">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
      </ng-container>
      <a class="nav-link collapsed" (click)="logout('/login')">Logout</a>
    </ul>
  </aside>
</div>
