<div class="card-container">
  <mat-card class="mat-elevation-z8">
    <ng-container *ngIf="role === 'emsp'">
      <mat-card-title>Liste de EMSP </mat-card-title>
    </ng-container>
    <table mat-table [dataSource]="users" class="custom-table">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let user">{{ user.role }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <div class="block" style="padding: 4px; margin: 2px">
            <ng-container *ngIf="role === 'iop'">
              <button
                mat-icon-button
                color="primary"
                style="background-color: #5dad"
                (click)="onEdit(user)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                style="background-color: red"
                (click)="onDelete(user)"
              >
                <mat-icon>delete</mat-icon>
              </button></ng-container
            >

            <ng-container *ngIf="role === 'emsp'">
              <button
                mat-icon-button
                color="primary"
                style="background-color: #5dad"
                (click)="sendAccord(user)"
              >
                creer accord
              </button>
            </ng-container>
            <ng-container *ngIf="role === 'cpo'">
              <button
                mat-icon-button
                color="primary"
                style="background-color: #5dad"
                (click)="sendAccord(user)"
              >
                creer accord
              </button>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
